# data manipulation

In [2]:
import numpy as np
import pandas as pd
df = pd.read_excel('CM.xlsx')

In [3]:
course_list = df.iloc[:, 2].tolist()

In [4]:
course_list = course_list[3:]

In [5]:
course_list = list(set(course_list))

In [11]:
with open('CM course name.txt', 'w') as file:
    for course in course_list:
        file.write(course + '\n')

In [19]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import numpy as np
import pandas as pd
courses = []
with open('CM course name.txt', 'r') as file:
    lines = file.read().splitlines()
    courses = [line.strip() for line in lines]
df = pd.DataFrame(columns=['course_name','name','overall_grade', 'grade', 'difficulty','useful', 'comments', 'offered'])
wd = webdriver.Edge()
wd.implicitly_wait(5)
for course_name in courses:
    wd.get(f"https://www.umeh.top/course/{course_name}")
    elements = wd.find_elements(By.CSS_SELECTOR, 'a[href*="/reviews/"]')
    for element in elements:
        name = element.find_element(By.CSS_SELECTOR, 'div[class="break-words"]').get_attribute('innerText')
        overall_grade = element.find_element(By.CSS_SELECTOR, 'div>div[class="p-6 pt-0 pb-4"]>div[class*="text-sm"]>div:nth-child(2)').get_attribute('innerText')
        blank = element.find_element(By.CSS_SELECTOR,'div.flex.flex-row.text-xs')
        l = blank.get_attribute('innerText').split()
        grade = l[1]
        difficulty = l[3]
        useful = l[5]
        comments = int(l[7])
        offered = element.find_element(By.CSS_SELECTOR, 'a[href*="/reviews/"]>div>div>div>div[class*="text-white"]:nth-child(2)').get_attribute('innerText')
        new_row = pd.Series([course_name, name, overall_grade, grade, difficulty, useful, comments, offered], index=df.columns)
        df.loc[len(df)] = new_row
    print(f"已找到{len(df)}条信息")

已找到9条信息
已找到46条信息
已找到50条信息
已找到51条信息
已找到53条信息
已找到54条信息
已找到58条信息
已找到87条信息
已找到89条信息
已找到126条信息
已找到146条信息
已找到150条信息
已找到151条信息
已找到152条信息
已找到163条信息
已找到164条信息
已找到165条信息
已找到166条信息
已找到168条信息
已找到171条信息
已找到180条信息
已找到181条信息
已找到212条信息
已找到216条信息
已找到218条信息
已找到226条信息
已找到230条信息
已找到233条信息
已找到234条信息
已找到236条信息
已找到239条信息
已找到246条信息
已找到248条信息
已找到252条信息
已找到253条信息
已找到255条信息
已找到256条信息
已找到257条信息
已找到262条信息
已找到266条信息
已找到271条信息
已找到275条信息
已找到277条信息
已找到278条信息
已找到280条信息
已找到286条信息
已找到292条信息
已找到297条信息
已找到298条信息
已找到305条信息
已找到326条信息
已找到329条信息
已找到332条信息
已找到335条信息
已找到337条信息
已找到338条信息
已找到347条信息
已找到349条信息
已找到352条信息
已找到353条信息
已找到407条信息
已找到411条信息
已找到412条信息
已找到414条信息
已找到415条信息
已找到424条信息
已找到426条信息
已找到427条信息
已找到432条信息
已找到433条信息
已找到434条信息
已找到451条信息
已找到456条信息
已找到458条信息
已找到460条信息
已找到461条信息
已找到462条信息
已找到464条信息
已找到466条信息
已找到469条信息
已找到472条信息
已找到473条信息
已找到474条信息
已找到476条信息
已找到478条信息
已找到484条信息
已找到494条信息
已找到496条信息
已找到497条信息
已找到500条信息
已找到503条信息
已找到505条信息
已找到508条信息
已找到509条信息
已找到510条信息
已找到529条信息
已找到532条信息
已找到535条信息
已找到536条信息
已找到538条信息
已找到592条信息
已找到593条信息
已找到612条信息
已找到616条信息
已找到617条信息
已找到619条信息
已找到623条信息
已找到624条信息
已找到626条信息
已找到629条信息
已找到688条信息
已找到690条信息
已找到692条信息
已找到694条信息
已找到696条信息
已找到699条信息
已找到700条信息
已找到709条信息
已找到710条信息
已找到713条信息
已找到719条信息
已找到731条信息
已找到733条信息
已找到734条信息
已找到735条信息
已找到736条信息
已找到740条信息
已找到741条信息
已找到742条信息
已找到748条信息
已找到766条信息
已找到768条信息
已找到769条信息
已找到770条信息
已找到771条信息
已找到827条信息
已找到831条信息
已找到833条信息
已找到839条信息
已找到840条信息
已找到872条信息
已找到882条信息
已找到896条信息
已找到899条信息
已找到900条信息
已找到901条信息
已找到904条信息
已找到907条信息
已找到915条信息
已找到917条信息
已找到918条信息
已找到919条信息
已找到921条信息
已找到925条信息
已找到927条信息
已找到929条信息
已找到933条信息
已找到938条信息
已找到949条信息
已找到953条信息
已找到954条信息
已找到956条信息
已找到958条信息
已找到959条信息
已找到960条信息
已找到961条信息
已找到963条信息
已找到964条信息
已找到969条信息
已找到974条信息
已找到975条信息
已找到984条信息
已找到985条信息
已找到987条信息
已找到991条信息
已找到1001条信息
已找到1004条信息
已找到1034条信息
已找到1036条信息
已找到1048条信息
已找到1053条信息
已找到1055条信息
已找到1056条信息
已找到1060条信息
已找到1063条信息
已找到1070条信息
已找到1071条信息
已找到1072条信息
已找到1073条信息
已找到1076条信息
已找到1078条信息
已找到1095条信息
已找到1097条信息
已找到1098条信息
已找到1103条信息
已找到1106条信息
已找到1107条信息
已找到1108条信息
已找到1109条信息
已找到1110条信息
已找到1117条信息
已找到1118条信息
已找到1119条信息
已找到1120条信息
已找到1122条信息
已找到1127条信息
已找到1130条信息
已找到1131条信息
已找到1137条信息
已找到1142条信息
已找到1143条信息
已找到1148条信息
已找到1149条信息
已找到1150条信息
已找到1152条信息
已找到1156条信息
已找到1157条信息
已找到1159条信息
已找到1160条信息
已找到1161条信息
已找到1167条信息
已找到1168条信息
已找到1169条信息
已找到1170条信息
已找到1172条信息
已找到1173条信息
已找到1177条信息
已找到1178条信息
已找到1181条信息
已找到1184条信息
已找到1185条信息
已找到1186条信息
已找到1188条信息
已找到1192条信息
已找到1196条信息
已找到1197条信息
已找到1202条信息
已找到1203条信息
已找到1204条信息
已找到1208条信息
已找到1209条信息
已找到1214条信息
已找到1216条信息
已找到1217条信息
已找到1223条信息
已找到1224条信息
已找到1225条信息
已找到1227条信息
已找到1234条信息
已找到1235条信息
已找到1237条信息
已找到1238条信息
已找到1241条信息
已找到1244条信息
已找到1251条信息
已找到1259条信息
已找到1264条信息
已找到1265条信息
已找到1266条信息
已找到1273条信息
已找到1274条信息
已找到1278条信息
已找到1283条信息
已找到1284条信息
已找到1290条信息
已找到1291条信息
已找到1294条信息
已找到1299条信息
已找到1301条信息
已找到1302条信息
已找到1303条信息
已找到1307条信息
已找到1319条信息
已找到1320条信息
已找到1326条信息
已找到1328条信息
已找到1332条信息
已找到1333条信息
已找到1341条信息
已找到1344条信息
已找到1347条信息
已找到1348条信息
已找到1349条信息
已找到1350条信息
已找到1351条信息
已找到1352条信息
已找到1359条信息
已找到1363条信息
已找到1365条信息
已找到1366条信息
已找到1367条信息
已找到1375条信息
已找到1377条信息
已找到1379条信息
已找到1380条信息
已找到1381条信息
已找到1382条信息
已找到1385条信息
已找到1386条信息
已找到1388条信息
已找到1390条信息
已找到1393条信息
已找到1397条信息
已找到1399条信息
已找到1400条信息
已找到1403条信息
已找到1406条信息
已找到1411条信息
已找到1416条信息
已找到1424条信息
已找到1425条信息
已找到1438条信息
已找到1449条信息
已找到1451条信息
已找到1453条信息
已找到1455条信息
已找到1457条信息
已找到1458条信息
已找到1459条信息
已找到1461条信息
已找到1477条信息
已找到1480条信息
已找到1483条信息
已找到1485条信息
已找到1487条信息
已找到1488条信息
已找到1489条信息
已找到1493条信息
已找到1498条信息
已找到1501条信息
已找到1502条信息
已找到1503条信息
已找到1504条信息
已找到1505条信息
已找到1506条信息
已找到1508条信息
已找到1510条信息
已找到1514条信息
已找到1517条信息
已找到1518条信息
已找到1523条信息
已找到1526条信息
已找到1527条信息
已找到1529条信息
已找到1532条信息
已找到1533条信息
已找到1534条信息
已找到1535条信息
已找到1537条信息
已找到1539条信息
已找到1558条信息
已找到1560条信息
已找到1562条信息
已找到1563条信息
已找到1564条信息
已找到1570条信息
已找到1573条信息
已找到1574条信息
已找到1575条信息
已找到1578条信息
已找到1580条信息
已找到1583条信息
已找到1587条信息
已找到1593条信息
已找到1594条信息
已找到1598条信息
已找到1603条信息
已找到1604条信息
已找到1608条信息
已找到1614条信息
已找到1615条信息
已找到1621条信息
已找到1622条信息
已找到1626条信息
已找到1628条信息
已找到1629条信息
已找到1630条信息
已找到1631条信息
已找到1632条信息
已找到1633条信息
已找到1636条信息
已找到1638条信息
已找到1639条信息
已找到1641条信息
已找到1644条信息
已找到1648条信息
已找到1649条信息
已找到1652条信息
已找到1656条信息
已找到1657条信息
已找到1660条信息
已找到1661条信息
已找到1662条信息
已找到1663条信息
已找到1664条信息
已找到1670条信息
已找到1675条信息
已找到1676条信息
已找到1677条信息
已找到1678条信息
已找到1679条信息
已找到1685条信息
已找到1686条信息
已找到1688条信息
已找到1690条信息
已找到1703条信息
已找到1704条信息
已找到1705条信息
已找到1707条信息
已找到1708条信息
已找到1710条信息
已找到1711条信息
已找到1712条信息
已找到1717条信息
已找到1722条信息
已找到1727条信息
已找到1728条信息
已找到1739条信息
已找到1740条信息
已找到1741条信息
已找到1744条信息
已找到1749条信息
已找到1758条信息
已找到1759条信息
已找到1761条信息
已找到1764条信息
已找到1766条信息
已找到1767条信息
已找到1774条信息
已找到1775条信息
已找到1777条信息
已找到1780条信息
已找到1781条信息
已找到1783条信息
已找到1786条信息
已找到1789条信息
已找到1790条信息
已找到1793条信息
已找到1796条信息
已找到1803条信息
已找到1817条信息
已找到1824条信息
已找到1825条信息
已找到1828条信息
已找到1829条信息
已找到1856条信息
已找到1862条信息
已找到1864条信息
已找到1869条信息
已找到1875条信息
已找到1876条信息
已找到1878条信息
已找到1883条信息
已找到1885条信息
已找到1886条信息
已找到1889条信息
已找到1891条信息
已找到1896条信息
已找到1902条信息
已找到1905条信息
已找到1907条信息
已找到1910条信息
已找到1916条信息
已找到1922条信息
已找到1930条信息
已找到1931条信息
已找到1936条信息
已找到1941条信息
已找到1944条信息
已找到1946条信息
已找到1952条信息
已找到1955条信息
已找到1956条信息
已找到1957条信息
已找到1958条信息
已找到1960条信息
已找到1961条信息
已找到1964条信息
已找到1966条信息
已找到1980条信息
已找到1982条信息
已找到1985条信息
已找到1987条信息
已找到1990条信息
已找到1991条信息
已找到1995条信息
已找到1997条信息
已找到1998条信息
已找到1999条信息
已找到2003条信息
已找到2007条信息
已找到2011条信息
已找到2013条信息
已找到2014条信息
已找到2018条信息
已找到2019条信息
已找到2020条信息
已找到2023条信息
已找到2027条信息
已找到2043条信息
已找到2047条信息
已找到2053条信息
已找到2054条信息
已找到2063条信息
已找到2064条信息
已找到2066条信息
已找到2067条信息
已找到2070条信息
已找到2071条信息
已找到2075条信息
已找到2077条信息
已找到2080条信息
已找到2082条信息
已找到2087条信息
已找到2088条信息
已找到2089条信息
已找到2091条信息
已找到2096条信息
已找到2097条信息
已找到2099条信息
已找到2100条信息
已找到2108条信息
已找到2110条信息
已找到2114条信息
已找到2115条信息
已找到2116条信息
已找到2119条信息
已找到2135条信息
已找到2136条信息
已找到2138条信息
已找到2159条信息
已找到2160条信息
已找到2167条信息
已找到2172条信息
已找到2173条信息
已找到2174条信息
已找到2175条信息
已找到2176条信息
已找到2178条信息
已找到2180条信息
已找到2182条信息
已找到2184条信息
已找到2185条信息
已找到2190条信息
已找到2192条信息
已找到2198条信息
已找到2199条信息
已找到2205条信息
已找到2210条信息
已找到2212条信息
已找到2214条信息
已找到2216条信息
已找到2218条信息
已找到2221条信息
已找到2245条信息
已找到2251条信息
已找到2255条信息
已找到2258条信息
已找到2261条信息
已找到2262条信息
已找到2264条信息
已找到2265条信息
已找到2269条信息
已找到2269条信息
已找到2271条信息
已找到2272条信息
已找到2276条信息
已找到2277条信息
已找到2280条信息
已找到2281条信息
已找到2287条信息
已找到2300条信息
已找到2302条信息
已找到2304条信息
已找到2307条信息
已找到2308条信息
已找到2332条信息
已找到2335条信息
已找到2337条信息
已找到2340条信息
已找到2342条信息
已找到2343条信息
已找到2344条信息
已找到2346条信息
已找到2351条信息
已找到2352条信息
已找到2357条信息
已找到2365条信息

In [20]:
df

,course_name,name,overall_grade,grade,difficulty,useful,comments,offered
0,ACCT1000,CHAI LAI PING,C-,C-,D+,C,46,Offered
1,ACCT1000,SAM IENG,D+,D,D,D+,169,Not Offered
2,ACCT1000,ZHANG XU,B-,B,C+,B,3,Not Offered
3,ACCT1000,TCHIANG VAN KAM,C+,B-,C+,B,64,Offered
4,ACCT1000,CHEN CAN,C,B,C,B,13,Not Offered
...,...,...,...,...,...,...,...,...
2360,LAWS3013,SAM CHAN IO,N/A,N/A,N/A,N/A,0,Offered
2361,LAWS3013,KUAN KUN HONG,N/A,N/A,N/A,N/A,0,Not Offered
2362,LAWS3013,SA MACHADO PEDRO,N/A,N/A,N/A,N/A,0,Not Offered
2363,LAWS3013,KUOK SIO PENG,N/A,N/A,N/A,N/A,0,Offered
2364,LAWS3013,CARLOS ALBERTO GAMEIRO DE CAMPOS LOBO,N/A,N/A,N/A,N/A,0,Not Offered

In [32]:
df2 = df[(df['offered'] == 'Offered') & (df['overall_grade'] != "N/A")]

In [34]:
df2[df2['overall_grade']=='B+']

,course_name,name,overall_grade,grade,difficulty,useful,comments,offered
87,CISC2006,WU XIAOWEI,B+,A-,B,A,33,Offered
174,EDUC2003,ZHOU NAN,B+,B+,A,A,3,Offered
390,CPED1000,SUN SISI,B+,A,A,A,4,Offered
414,ENGL3029,JEREMY CENTENO DE CHAVEZ,B+,B+,A-,A,1,Offered
616,CISC3016,ZHANG LIMING,B+,A,B+,B+,4,Offered
925,ECON1003,YANG YIBAI,B+,A-,B,A-,17,Offered
963,CIVL2005,WAN IAT MENG,B+,A,A-,A,4,Offered
1127,HSCI2004,LI GANG / WONG KOON HO,B+,A,B+,A,4,Offered
1168,EDUC3036,HU BIYING,B+,A,A,A,2,Offered
1390,GEST1014,LIAO JINFENG,B+,A-,A,A,6,Offered
1449,IRTM3009,JA YOUNG CHOE,B+,A-,B,A,1,Offered
1727,ACCT3006,YUEN CHUN YIP,B+,A,A,B+,2,Offered
1755,JAPN1004,CHEONG CHAP FUN,B+,A-,B,A,6,Offered
1758,PSYC4006,XIAO TING,B+,A-,A,B+,8,Offered
1956,ISOM3018,TANG HENG,B+,A,B-,A,3,Offered
2013,BECO3004,LEI CHUN KWOK,B+,A,B-,A,2,Offered

In [33]:
df2

,course_name,name,overall_grade,grade,difficulty,useful,comments,offered
0,ACCT1000,CHAI LAI PING,C-,C-,D+,C,46,Offered
3,ACCT1000,TCHIANG VAN KAM,C+,B-,C+,B,64,Offered
6,ACCT1000,CARLOS NORONHA,C,C-,C+,B-,8,Offered
9,CPED1002,WONG SOI PO,C,B-,C+,C+,11,Offered
10,CPED1002,XI CHENGQING,B,B,B,B,7,Offered
...,...,...,...,...,...,...,...,...
2340,ENGL3003,GLEN TIMMERMANS,D+,D,D+,D,5,Offered
2342,SOCY3015,ZHAO RUOHUI,C,C+,C-,C+,7,Offered
2343,JAPN4025,CHEONG CHAP FUN,B-,B+,A,A,2,Offered
2344,HIST2001,JOSHUA PARR EHRLICH,D+,D,F,A,1,Offered
2352,ENGL3000,TSAI CHENG-YU,B,A,A,A,1,Offered

In [21]:
df.to_csv('CM.csv')